* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Aldrich", sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

#navbar {
  height: 80px;
  width: 100vw;
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  z-index: 4;
}

#logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

#valo-logo {
  height: 60px;
}

#logo_name {
  font-size: 30px;
  text-decoration: none;
  background: linear-gradient(to right, #ff1212, rgb(78, 0, 247), blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

#nav-links {
  display: flex;
  gap: 120px;
}

.bar-options {

  color: white;
  text-decoration: none;
  font-size: 30px;
  transition: all 0.3s ease;
}

.bar-options:hover {
  color: red;
  font-size: 34px;
}


section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text{
  font-size: 2em;
}

#video-section {
  text-align: center;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 60px;
  border-radius: 10px;
}

.overlay-content h2 {
  font-size: 38px;
  margin-bottom: 15px;
}

.overlay-content p {
  font-size: 18px;
}


.section-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-content .text {
  width: 45%;
}

.section-content .image {
  width: 400px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.section-content .image img {
  height: 600px;
  border-radius: 8px;
}


#agents {
  background-color: rgba(255, 0, 0, 0.85);
}

#agent_btn {
  display: inline-block;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: 0.3s;
}

#agent_btn:hover {
  background-color: white;
  color: black;
  font-size: 1.2em;
}


#maps {
  background-color: black;
}

#maps_btn {
  display: inline-block;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.3s;
}

#maps_btn:hover {
  background-color: white;
  color: black;
  font-size: 1.2em;
}


#weapons {
  position: relative;
  background-color: rgba(10, 10, 10, 0.9);
}

#weapons_bgvid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
  z-index: -1;
}

#weapons_btn {
  display: inline-block;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.3s;
}

#weapons_btn:hover {
  background-color: white;
  color: black;
  font-size: 1.2em;
}


.footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(20, 20, 20);
  font-size: 14px;
}