* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Aldrich", sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

#navbar {
  height: 80px;
  width: 100vw;
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  z-index: 4;
}

#logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

#valo-logo {
  height: 60px;
}

#logo_name {
  font-size: 30px;
  text-decoration: none;
  background: linear-gradient(to right, #ff1212, rgb(78, 0, 247), blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

#nav-links {
  display: flex;
  gap: 120px;
}

.bar-options {

  color: white;
  text-decoration: none;
  font-size: 30px;
  transition: all 0.3s ease;
}

.bar-options:hover {
  color: red;
  font-size: 34px;
}


.main_container{
    
    margin: auto;
    margin-top: 3%;
    width: 80%;
    height: 400vw;
    background-color:black;
    display: grid;
    gap: 1%;
    padding: 3%;

}

.box{
    border-radius: 50px;
    background-color: rgba(131, 131, 131, 0.33);
    height: 45vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.char_info{
    border-radius: 35px;
    height: 25vw;
    width: 40vw;
    background-color: rgb(95, 95, 95);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    font-size: 1.5em;
}
.char_info h1{
    font-size: 80px;
    text-shadow: 10px 0px black;
}



.char_box{
    height: 30vw;
    width: 20vw;
    background-color: black;
    border-radius: 50px;
    overflow: hidden;
    

}
.char_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px;
  transition: all;
  transition-duration: 0.77s ;
}
.char_box:hover img {
    transform: scale(1.1);
}

