html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Aldrich", sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

#navbar {
  height: 80px;
  width: 100vw;
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  z-index: 4;
}

#logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

#valo-logo {
  height: 60px;
}

#logo_name {
  font-size: 30px;
  text-decoration: none;
  background: linear-gradient(to right, #ff1212, rgb(78, 0, 247), blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

#nav-links {
  display: flex;
  gap: 120px;
}

.bar-options {

  color: white;
  text-decoration: none;
  font-size: 30px;
  transition: all 0.3s ease;
}

.bar-options:hover {
  color: red;
  font-size: 34px;
}
.main_container{
    display: grid;
    grid-template-columns: 32%  32%  32% ;
    background-color:black;
    padding: 50px;
    width: 100%;
    height: 3000px;
    
    gap: 3%;

}

.box{
  height: 400px;
  
  
  background-color: #c14949;
  

}
.box:hover{
  box-shadow: 0px 0px 30px white;
  cursor: pointer;
}

.weapon_box{
  height: 80%;
  width: 100%;
  background-color: aliceblue;
  overflow: hidden;
 
}
.weapon_box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
  transition: all;
  transition-duration: 1s ;

}
  

.weapon_box:hover img {
    transform: scale(1.1);
}

.weapon_name{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
}
.weapon_name h1{
  font-size: 40px;
    text-shadow: 4px 0px black;
}
#footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(20, 20, 20);
  font-size: 14px;
  height: 80px;
}
#footer img{
  margin: 10px;
  height: 40px;
  
}
#footer img:hover{
  box-shadow: 0px 0px 30px white;
}
